.slider {
    filter: brightness(50%);
}

.footer {
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer p {
    color: lightblue;
}
.social i {
    height: 100px;
    width: 60px;
}