.slider {
    filter: brightness(50%);
}
.footer {
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer p {
    color: lightblue;
}
.social i {
    height: 100px;
    width: 60px;
}
@media only screen and (max-width:688px){
.slider {
    height: 400px;
    font-size: 30px;
}
.carousel-caption h1 {
    
    font-size: 20px;
}
.carousel-caption p {
    
    font-size: 10px;
}
.card {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.join {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.registration {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    text-align: center;
}
.registration1 {
    font-size: 17px;
}
.registration2 {
    font-size: 10px;
}

.faq , .caption{
    
    width: 310px;
    margin-left: 15px;
}
}
@media only screen and (min-width:689px) and (max-width:992px) { 
    .join {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .registration {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 175px;
        text-align: center;
    }
    .registration1 {
        font-size: 17px;
    }
    .registration2 {
        font-size: 10px;
    }
    .faq , .caption{
    
        width: 690px;
        margin-left: 15px;
    }
}