.slider {
    filter: brightness(50%);
}
.footer {
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer p {
    color: lightblue;
}
.social i {
    height: 100px;
    width: 60px;
}

@media only screen and (max-width:688px){

.registration1 {
    font-size: 20px;
    text-align: center;
}
.registration2 {
    font-size: 10px;
    text-align: center;
}

.join {
    display: flex;
    flex-direction: column;
    
    
}
}
